/*텍스트 값*/
  .font-logo {
    font-family: "Sigmar", sans-serif;
    font-weight: 400;}
  .font-nomal{
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;}
    .font-nomal-2{
      font-family: "42dot Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;}
/*텍스트컬러*/
  .text-color-default {
    color: #1A1F4B;}
  .text-color-primary{
    color:#6c84af}
  .text-wh{
    color: #F9F6F1;}
/*텍스트사이즈*/
  .sub-heading-text {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.3;
  font-style: bold;
}
  .title-text {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -0.1;
  }
  .body-text{
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.1;
  }
  /*모든영역 적용*/
  a{
    text-decoration: none;
    color: inherit;
  }
/* 헤더영역 */
.header {
    display: flex;
    justify-content: space-between;
    background-color: #1A1F4B;
    color: #F9F6F1;
    size: 10px;
    height: 130px;
    align-items: center;
    padding: 0 100px;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.logo-container {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 60px;
  font-weight: bold;
}
a{
  text-decoration: none;
  color: inherit;
}

.header-menu{
  display: flex;
  gap: 32px;
  align-items: center;
}
.menu-btn {
  color: #f9f6f1;;
  height: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 20px
}
.menu-btn:hover {
  background-color: #f9f6f1;
  color: #1A1F4B;
  transition: background-color 0.5s ease-in-out;
}
 .menu-btn:active {
     background-color: #7888cf;
}
/*메인영역*/
.main-section{
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  background-color: #f1f4f6;
  border-radius: 20px;
  padding: 40px;
  margin: 60px auto;
}
.main-section img{
  width: auto;
  height: 400px;
  align-items: center;
}
.section-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 40px;
  min-width: 500px;
  gap: 12px;
  margin: 60px 60px;
}
.hibby{
  line-height: 20px;
}
.menu-btn {
  color: #f9f6f1;;
  height: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-radius: 20px
}
/*버튼디자인*/
.btn-primary {
  display: flex;
  align-items: center;
  height: 52px;
  background-color: #1A1F4B;
  padding: 0px 24px;
  color: #f9f6f1;
  border-radius: 100px;
  font: 20px;
}
.btn-primary:hover {
  background-color: #5f627c;
  font-weight: 600;
  transition: background-color 0.5s ease-in-out;
}
.btn-set {
  display: flex;
  gap: 10px;
}

/*포토폴리오 부분*/
.card {
  display: flex;
  flex-shrink: 0;
  background-color: #e4b30065;
  width: 480px;
  height: 240px;
  border-radius: 20px;
  padding: 40px;
  gap: 20px;
  margin: 20px;
}
.card img {
  width: 240px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  border:4px solid #1A1F4B
}
.project-name-title{
  line-height: 1.5;
}
.PORTFOLIO {
  display: flex;
  max-width: 1320px;
  margin: 0 auto;
  gap: 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 40px 0;
}
.project-name {
  font-size: 40px;
  font-weight: 900;   
  color: #1A1F4B;
}
.project-name-2 {
  font-size: 20px;
  font-weight: 800;   
  color: #262d69;
}
.list{
  line-height: 20px;
  color: #1A1F4B;
  font-weight: 400;
}
.card-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card-btn {
  background-color: #1A1F4B;
  border-radius: 100px;
  height: 40px;
  align-items: center;
  display: flex;
  padding: 0 28px;
}

/*푸터*/
.footer{
  display: flex;
  flex-shrink: 0;
  background-color: #1A1F4B;
  color: #cccccc;
  height: 120px;
  padding: 60px;
  align-items: center;
  justify-content: center;
  gap: 0px;
}
.logo{
  width: 250px;
  height: auto;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: flex;
  padding: 0 0 50px 0;
  line-height: 24px;
}
.footer-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px 0;
  letter-spacing: 3;
}
.copyright{
  color: #929292;
}